@import "tailwindcss";

@font-face {
    font-family: "Cookies";
    src: url("./fonts/Cookies.ttf");
}

body {
    background-color: color-mix(
        in oklab,
        var(--color-black) /* #000 = #000000 */ 90%,
        transparent
    );
}
